# Choose one of the following modes (PMTiles preferred for static hosting)
# PMTiles (static file served by Vite/Pages)
VITE_PM_TILES_URL=/tiles/walk_agglo_segment.pmtiles

# Or Martin TileJSON (local/server)
# VITE_TILEJSON_SEGMENT=http://localhost:3001/walk_agglo_segment
# VITE_TILEJSON_CARREAU200=http://localhost:3001/walk_agglo_carreau200
# VITE_TILEJSON_ZONETRAFIC=http://localhost:3001/walk_agglo_infracommunal
# VITE_TILEJSON_BIKE_INFRACOMMUNAL=http://localhost:3001/bike_agglo_infracommunal
# VITE_TILEJSON_WALK_SEGMENT_CANTONGE=http://localhost:3001/walk_canton_segment
# VITE_TILEJSON_WALK_CARREAU200_CANTONGE=http://localhost:3001/walk_canton_carreau200
# VITE_TILEJSON_WALK_ZONETRAFIC_CANTONGE=http://localhost:3001/walk_canton_infracommunal
# VITE_TILEJSON_BIKE_SEGMENT_CANTONGE=http://localhost:3001/bike_canton_segment
# VITE_TILEJSON_BIKE_CARREAU200_CANTONGE=http://localhost:3001/bike_canton_carreau200
# VITE_TILEJSON_BIKE_INFRACOMMUNAL_CANTONGE=http://localhost:3001/bike_canton_infracommunal
# VITE_TILEJSON_PERIMETER=http://localhost:3001/canton_perimeter.json

# Source layer name produced by tippecanoe
VITE_WALK_SOURCE_LAYER=walknet
VITE_SEG_SOURCE_LAYER=walknet
VITE_CAR_SOURCE_LAYER=carreau200
VITE_ZT_SOURCE_LAYER=zone_trafic
# VITE_BIKE_INFRA_SOURCE_LAYER=infra_communal
# VITE_PM_TILES_WALK_SEGMENT_CANTONGE=/tiles/walk_canton_segment.pmtiles
# VITE_PM_TILES_WALK_CARREAU200_CANTONGE=/tiles/walk_canton_carreau200.pmtiles
# VITE_PM_TILES_WALK_ZONETRAFIC_CANTONGE=/tiles/walk_canton_infracommunal.pmtiles
# VITE_PM_TILES_BIKE_SEGMENT_CANTONGE=/tiles/bike_canton_segment.pmtiles
# VITE_PM_TILES_BIKE_CARREAU200_CANTONGE=/tiles/bike_canton_carreau200.pmtiles
# VITE_PM_TILES_BIKE_INFRACOMMUNAL_CANTONGE=/tiles/bike_canton_infracommunal.pmtiles
# VITE_PM_TILES_PERIMETER=/tiles/canton_perimeter.pmtiles
# VITE_PERIMETER_SOURCE_LAYER=canton_perimeter
